<!doctype html>
<html lang="ru">
  <head>
    {% include "partials/head-meta.njk" %}
{% block json_ld %}{% endblock %}
{% include "partials/analytics.njk" %}
  </head>
  <body>
{% include "partials/preloader.njk" %}
{% include "partials/header.njk" %}
{% include "partials/mobile-menu.njk" %}
{% block body %}{% endblock %}
{% include "partials/footer.njk" %}
{% include "partials/scripts.njk" %}
{% include "partials/vercel-analytics.njk" %}
  </body>
</html>
