    <div class="preloader" aria-hidden="true">
      <div class="preloader__curtain preloader__curtain--top"></div>
      <div class="preloader__curtain preloader__curtain--bottom"></div>
      <div class="preloader__scene">
        <div class="loader-bot">
          <span class="loader-bot__orb loader-bot__orb--one"></span>
          <span class="loader-bot__orb loader-bot__orb--two"></span>
          <span class="loader-bot__orb loader-bot__orb--three"></span>
          <div class="loader-bot__antenna"><span></span></div>
          <div class="loader-bot__head">
            <div class="loader-bot__visor">
              <span></span>
              <span></span>
            </div>
            <div class="loader-bot__mouth"></div>
          </div>
          <div class="loader-bot__body">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="preloader__bar"><span data-preloader-bar></span></div>
      </div>
    </div>

    <div class="cursor-dot" aria-hidden="true"></div>
    <div class="cursor-ring" aria-hidden="true"></div>
